table, tr, td {
    border: 5px solid black;
    border-color: darkblue;
    width: 576px;
    height: 168px;
  }

  td{
      border-radius: 50%;
  }

  table{
      background-color: darkblue;
  }

  tr{
      background-color: white;
  }